<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../../public/assets/css/style.css" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Bellota+Text|Raleway&display=swap" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Devour That Burger!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="../../public/assets/js/index.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>